/*general rules*/

body {
  background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(snow));
  height: 1200px;
}

.App {
 margin: 50px;
}

/*element selectors*/

li {
  cursor: pointer;
  font-size: 1.3rem;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  border-bottom: 2px solid gray;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}

i {
  margin: 5px;
  cursor: pointer;
}

a {
  color: black;
}

a:visited {
  text-decoration: none;
}

textarea {
  font-size: 20px;
}

/*todo status classes*/

.task-completion-true {
  color: green;
}

.task-completion-false {
  color: red;
}

/* very scary progressbar formatting */

progress {
  width: 400px;
  margin-top: -40px;
  margin-bottom: 20px;
}

progress[value] {
  -webkit-appearance: none;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, green , lime);
  border-radius: 5px;
}

/* utility classes */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* modal editform */

.modal-editform {
  width: 40%;
  height: 30%;
  position: fixed;
  top: 15%;
  left: 15%;
  z-index: 9999;
  padding: 30px 170px 200px 70px;
  border: 2px solid grey;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(snow));
}

.overlay {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));
}

.todo-list {
  margin-right: 30%;
  margin-top: -2%;
}

.category-wrapper ul,
.category-wrapper li {
  list-style-type: none;
  border: none;
}

.category-wrapper li {
  margin-left: 20px;
}